html, body {
    font-family: sans-serif;
    font-family: Ubuntu;
    font-size: 15px;
    line-height: 20px;
}
.container {
    margin-top: 45px;
    width: 30%;
    padding: 50px;
}
.heading {
    text-align: center;
}
.container-login {
    padding-top: 10%;
}
.cat-results {
    border: 1px solid #80808063;
    /*margin: 10px -159% 30px -159%;*/
    margin-bottom: 30px;
    height: 545px;
    max-height: 545px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    scroll-direction: horizontal;
    flex-wrap: nowrap;
}
.card {
    margin: 10px 3px 10px 3px;
    min-width: 300px;
    height: 500px;
}
.form-elem-sm {
    max-width: 69%;
    width: 69%;
}
.card img {
    width: 300px;
    object-fit: cover;
    max-height: 300px;
    height: 300px;
}
.form-row {
    width: 100%;
    flex-direction: row;
    margin-left: 0;
}
.form-row a {
    max-width: 30%;
    width: 30%;
    margin-left: 1%;
}
@media all and (max-width: 1200px) {
    .container {
        width: 70%;
    }
    .cat-results {
        margin: 10px 0 30px 0;
    }
}

@media all and (max-width: 500px) {
    .container {
        width: 100%;
    }
    .cat-results {
        margin: 10px 0 30px 0;
    }
}
.form-control {
    font-size: 1.5rem;
}
.btn {
    font-size: 1.5em;
    padding: 5px 15px 5px 15px;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.btn:hover {
    background-color: #52bad1;
    color: white;
    border-color: #52bad1;
}
