<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SponsorCat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="16x16">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" color="#5bbad5">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css', _external=True, _scheme=scheme) }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
    function search() {
        let input, filter, table, tr, td, th, i, x, txtValue, match;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("sponsorTable");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) { // for each row
            td = tr[i].getElementsByTagName("td");
            match = false;
            th = tr[i].getElementsByTagName("th");
            for (x = 0; x < td.length; x++) { // for each row element
                if (td) {
                    txtValue = td[x].textContent || td[x].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        match = true;
                    }
                }
            }
            if (match) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">SponsorCat</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index', _external=True, _scheme=scheme) }}">Sponsorships<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sponsor_emails', _external=True, _scheme=scheme) }}">Emails</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('manual_sponsor', _external=True, _scheme=scheme) }}">Create Sponsorship<sup>beta</sup></a>
          </li>
        </ul>
      </div>
    </nav>
  <input type="text" id="search" class="search" onkeyup="search()" placeholder="Search">
  <div class="table-container">
    <table id="sponsorTable" class="table .table-hover">
      <thead>
        <tr>
          <th scope="col">Sponsor ID</th>
          <th scope="col">Cat Name</th>
          <th scope="col">Cat</th>
          <th scope="col">Sponsored Time</th>
          <th scope="col">Sponsor Name</th>
          <th scope="col">Sponsor Email</th>
          <th scope="col">Sponsor Amount</th>
          <th scope="col">Payment Type</th>
          <th scope="col">PayPal OrderID</th>
        </tr>
      </thead>
      <tbody>
        {% for cat in cats %}
        <tr>
          <td>{{ cat['id'] }}</td>
          <td>{{ cat['cat_name'] }}</td>
          <td><a href="{{ cat['cat_self_link'] }}"><img src="{{ cat['cat_img'] }}"></a></td>
          <td>{{ cat['sponsored_at'] }}</td>
          <td>{{ cat['name'] }}</td>
          <td>{{ cat['email'] }}</td>
          <td>${{ cat['sponsor_amount'] }}</td>
          <td>{{ cat['payment_type'].title() }}</td>
          {% if cat['paypal_order_id'] %}
            <td>{{ cat['paypal_order_id'] }}</td>
          {% else %}
            <td>-</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% if not cats %}
    <h2 class="center">No sponsorships found</h2>
  {% endif %}
  </div>
</body>
</html>

