<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SponsorCat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='new-sponsor.css', _external=True, _scheme=scheme) }}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="16x16">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" color="#5bbad5">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        function search_cats() {
            let cat_name = document.getElementById("cat-name").value;
            let url = new URL("{{ url_for('search', _external=True, _scheme=scheme) }}");
            url.searchParams.append('name', cat_name);

            return fetch(url.toString()).then(function(response) {
                return response.text().then(function(text) {
                  document.getElementById("cat-results").innerHTML = text;
                })
            });
        }
        function select_cat(btn, name, url, id, photo) {
            {# remove selected from other divs #}
            var childBtns = document.getElementById('cat-results').getElementsByClassName('btn');
            for( i=0; i< childBtns.length; i++ ) {
                childBtns[i].innerText = "Select";
                childBtns[i].style.backgroundColor = "#e2e6ea";
            }
            document.getElementById('cat-name').value = name;
            document.getElementById('cat-self-link').value = url;
            document.getElementById('petfinder-id').value = id;
            document.getElementById('cat-img').value = photo;

            btn.innerText = "Selected";
            btn.style.backgroundColor = "green";
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">SponsorCat</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index', _external=True, _scheme=scheme) }}">Sponsorships</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sponsor_emails', _external=True, _scheme=scheme) }}">Emails</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('manual_sponsor', _external=True, _scheme=scheme) }}">Create Sponsorship<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  <div class="container">
      <h1 class="heading">Create a sponsorship</h1>
      <div class="container-login">
          {% if error %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endif %}
        <form action="" method=post>

          <div class="form-group">
            <label for="catName">Select Cat to Sponsor</label>
              <div class="form-row">
                <input id="cat-name" class="form-control form-elem-sm" type="text" class="form-control" id="catName" placeholder="Felix ..." name="cat_name" value="{{ fields.get('cat-name') or '' }}">
                <a href="#" class="btn btn-primary" onclick="search_cats()">Search</a>
              </div>
          </div>

          <div id="cat-results" class="cat-results">
              {% for cat in cats %}
                <div class="card img-item" style="width: 18rem;">
                    {% if cat['photos'] %}
                    <img class="card-img-top" src="{{ cat['photos'][0]['medium'] }}" alt="{{ cat['name'] }}">
                    {% else %}
                    <img class="card-img-top" src="{{ url_for('static', filename='cat-solid.svg', _external=True, _scheme=scheme) }}" alt="{{ cat['name'] }}">
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">{{ cat['name'] }}</h5>
                    <p class="card-text">{{ cat['description'] }}</p>
                    <input type="hidden" id="cat-img" name="cat_img" value="{{ fields.get('cat_img') or '' }}">
                    <input type="hidden" id="cat-self-link" name="cat_self_link" value="{{ fields.get('cat_self_link') or '' }}">
                    <input type="hidden" id="petfinder-id" name="petfinder_id" value="{{ fields.get('petfinder_id') or '' }}">
                    {% if cat['photos'] %}
                    <div class="btn btn-primary" onclick="select_cat(this, '{{ cat['name'] }}', '{{ cat['url'] }}', '{{ cat['id'] }}', '{{ cat['photos'][0]['medium'] }}')">Select</div>
                    {% else %}
                    <div class="btn btn-primary" onclick="select_cat(this, '{{ cat['name'] }}', '{{ cat['url'] }}', '{{ cat['id'] }}', '{{ url_for('static', filename='cat-solid.svg', _external=True, _scheme=scheme) }}')">Select</div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
          </div>

          <div class="form-group">
            <label for="sponsorName">Sponsor's Name</label>
            <input type="text" class="form-control" id="sponsorName" name="given_name" placeholder="name" value="{{ fields.get('given_name') or '' }}">
          </div>

          <div class="form-group">
            <label for="sponsorEmail">Sponsor's Email</label>
            <input type="email" class="form-control" id="sponsorEmail" name="email" placeholder="email" value="{{ fields.get('email') or '' }}">
          </div>

          <div class="form-group">
            <label for="sponsorAmount">Sponsor Amount</label>
            <select class="form-control form-control-lg" id="sponsorAmount" name="sponsor_amount">
                  <option value="95.00" {{ 'selected' if fields.get('sponsor_amount') == '95.00' else '' }}>$95.00</option>
                  <option value="105.00" {{ 'selected' if fields.get('sponsor_amount') == '105.00' else '' }}>$105.00</option>
                  <option value="190.00" {{ 'selected' if fields.get('sponsor_amount') == '190.00' else '' }}>$190.00</option>
                  <option value="210.00" {{ 'selected' if fields.get('sponsor_amount') == '210.00' else '' }}>$210.00</option>
            </select>
          </div>

          <div class="form-group">
            <label for="paymentType">Payment Type</label>
            <select class="form-control form-control-lg" id="paymentType" name="payment_type">
              {% if fields.get('payment_type') and fields.get('payment_type') == 'cash' %}
                  <option value="cash" selected>Cash</option>
                  <option value="check">Check</option>
              {% else %}
                  <option value="cash">Cash</option>
                  <option value="check" selected>Check</option>
              {% endif %}
            </select>
          </div>

          <button type="submit" class="btn btn-light">Create</button>
          <input type=hidden value="{{ _next or '' }}" name=next>
        </form>
      </div>
  </div>
</body>
</html>