<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SponsorCat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}">
    <link rel="icon" type="image/png"
          href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="32x32">
    <link rel="icon" type="image/png"
          href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="16x16">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}"
          color="#5bbad5">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='sponsorships-by-cat.css', _external=True, _scheme=scheme) }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script>
        function search() {
            let input, filter, table, tr, td, i, cat_total, txtValue, match, total;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("sponsorTable");
            cat_total = document.getElementById("cat-total");
            tr = table.children;
            total = 0;

            for (i = 0; i < tr.length; i++) { // for each row
                td = tr[i];
                match = false;
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            match = true;
                            total++;
                        }
                }
                if (match) {
                    tr[i].style.display = "";
                    cat_total.innerText = 'Total: ' + total;
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">SponsorCat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sponsorships
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{{ url_for('index', _external=True, _scheme=scheme, view='all') }}">All sponsorships</a>
                      <a class="dropdown-item" href="{{ url_for('index', _external=True, _scheme=scheme, view='cat') }}">Sponsorships by cat</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sponsor_emails', _external=True, _scheme=scheme) }}">Emails</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('manual_sponsor', _external=True, _scheme=scheme) }}">Create Sponsorship</a>
                </li>
            </ul>
        </div>
    </nav>
<div class="container">
    <div class="search-container">
        <input type="text" id="search" class="search" onkeyup="search()" placeholder="Search">
        {% if cats %}
            <span id="cat-total">Total: {{ cats|length }} </span>
        {% endif %}
    </div>
    <div id="sponsorTable" class="results-container">
        {% for cat in cats %}
            <div id="cat-card" class="card">
                <div style="max-width:100%;">
                    <div class="card-header">
                        <h5 class="card-title" style="text-align:center; margin:0;">{{ cat['sponsorships'][0]['f8'] }}</h5>
                    </div>
                </div>
                <div>
                    <div class="row-img">
                        <a href="{{ cat['sponsorships'][0]['f6'] }}">
                            <img class="card-img" src="{{ cat['sponsorships'][0]['f7'] }}" alt="{{ cat['sponsorships'][0]['f7'] }}">
                        </a>
                    </div>
                    <div>
                      <div class="progress" style="width: 100%;height: 30px; border-radius: 0px; margin-bottom:0;">
                        <div class="progress-bar" role="progressbar" style=" width: {{ ((cat['sponsorships'] | sum(attribute='f2')) / cat['sponsor_amount'] | int) * 100 | round(2, 'floor') }}%;
                                {% if (cat['sponsorships'] | sum(attribute='f2') / cat['sponsor_amount'] | int) | round(1, 'floor') * 100 == 100 %}background-color: #71b371c7; {% else %}
                                background-color: rgba(82, 184, 209, 0.56); color: black;"{% endif %}
                             aria-valuenow="{{ cat['sponsorships'] | sum(attribute='f2') }}" aria-valuemin="0" aria-valuemax="100">
                            {{ (cat['sponsorships'] | sum(attribute='f2') / cat['sponsor_amount'] | int) | round(2, 'floor') * 100 }}%</div>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span>
                            <p style="text-align: center; margin:0; font-size: 0.8em;">Sponsorships ( ${{ cat['sponsorships'] | sum(attribute='f2') | int }} / ${{ cat['sponsor_amount'] }} )</p>
                            {#                                <h6>{{ sponsorship['f1'].strftime('%b %d, %Y %H:%M %p %Z') }}</h6>#}
                            </span>
                        </li>
                        {% for sponsorship in cat['sponsorships'] %}
                            <li class="list-group-item">
                                <h6>
                                ${{ '%0.2f' | format(sponsorship['f2'] | float) }}

                                {% if sponsorship['f10'] | lower == 'paypal' %}
                                        <img class="payment-text" src="{{ url_for('static', filename='cc-paypal-brands.svg', _external=True, _scheme=scheme) }}">
                                        <small>{{ sponsorship['f5'] }}</small>
                                {% elif sponsorship['f10'] | lower == 'check' %}
                                        <img class="payment-text" src="{{ url_for('static', filename='money-check-alt-solid.svg', _external=True, _scheme=scheme) }}">
                                        <small>{{ sponsorship['f10'].title() }}</small>
                                {% elif sponsorship['f10'] | lower == 'cash' %}
                                        <img class="payment-text" src="{{ url_for('static', filename='money-bill-alt-regular.svg', _external=True, _scheme=scheme) }}">
                                        <small>{{ sponsorship['f10'].title() }}</small>
                                {% elif sponsorship['f10'] | lower == 'petfinder' %}
                                        <img class="payment-text" src="{{ url_for('static', filename='cat-solid.svg', _external=True, _scheme=scheme) }}">
                                        <small>{{ sponsorship['f10'].title() }}</small>
                                {% endif %}
                                </h6>
                                <div class="card-text">
                                    <p>
                                    {{ sponsorship['f3'] }}
                                    {{ sponsorship['f4'] }}</p>
                                </div>
                            </li>
                      </ul>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if not cats %}
        <h2 class="center">No sponsorships found</h2>
    {% endif %}
</div>
</body>
</html>

