<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table bgcolor="#f8f8f8" cellpadding="0" cellspacing="0" width="100%" style="margin:0px auto;border-spacing:0px;border-width:medium;border-style:none">

  <tbody><tr style="border-spacing:0px">
    <td align="center" class="m_-2790619158515894342mobile-padding" width="100%" style="padding:10px;border-spacing:0px">
      <div class="m_-2790619158515894342containerbox" style="width:100%;max-width:500px;font-family:Helvetica,Arial,sans-serif;font-weight:100;background-color:rgb(255,255,255)">
        <table cellpadding="0" cellspacing="0" style="max-width:500px;width:100%;border-radius:4px;border-spacing:0px;border-width:medium;border-style:none">

          <tbody><tr style="border-spacing:0px">
            <td bgcolor="#52BAD1" class="m_-2790619158515894342mains m_-2790619158515894342aw-bgc" style="text-align:left;background-repeat:no-repeat;padding:20px 20px 40px;background-image:url(&quot;https://ci4.googleusercontent.com/proxy/0cKSI9EaQA6-XLLyKkyZj2ebv95U3jQFjKlU3K5BuRqXPXv853etQ0RSHwnt3j3RIX7TYYI2qKvWVN5BsrNJ4ZzmwTiktolyavXcu5ub9iM8kB9DKZqQLmPT1GP2dh8mY7ITVzxfaVHR4BI_xi6C5z3Mhv8=s0-d-e1-ft#https://hostedimages-cdn.aweber-static.com/Mzg4OTg4/original/cda9291efed24ceb91b6c5b76d4107e0.png&quot;);border-spacing:0px">
              <div>
                <div class="m_-2790619158515894342region"><div><table class="m_-2790619158515894342row" style="width:100%;border-spacing:0px;border-width:medium;border-style:none" role="presentation"><tbody><tr style="border-spacing:0px"><td class="m_-2790619158515894342container" style="padding:20px 20px 15px;width:auto;border-spacing:0px" width="auto" valign="top"><div class="m_-2790619158515894342definition-parent"><span><table align="center" width="100%" class="m_-2790619158515894342floated-none" style="float:none;text-align:center;border-spacing:0px;border-width:medium;border-style:none" role="presentation">
  <tbody><tr style="border-spacing:0px">
    <td style="padding:0px 0px 12px;border-spacing:0px">
      <a class="m_-2790619158515894342aw-image-link" href="https://clicks.aweber.com/y/ct/?l=PCh0L&amp;m=3m8D9WGQe.F6eOd&amp;b=QM0ZJQyUT7EmJsFdSIx8_w" style="color:rgb(255,255,255)" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://clicks.aweber.com/y/ct/?l%3DPCh0L%26m%3D3m8D9WGQe.F6eOd%26b%3DQM0ZJQyUT7EmJsFdSIx8_w&amp;source=gmail&amp;ust=1566520446981000&amp;usg=AFQjCNFE6s3bOl2TnoWzVQdx4l_vYB_aHg">
      <img class="m_-2790619158515894342model CToWUd" border="0" src="https://ci4.googleusercontent.com/proxy/d3N7SReX9fdfjHsfXDbrIj8BzsP-vNbBGO8ZZz5R3AaAiqNq5VEMUAd-7c-UtNlClj2vVKQohs98TuEIkkYQNrK2y-5-JTOvIRgNJwsAURsbTvA01LPKSjHpqBGuAEV-ki3oxTc5flWiM9kIxFFRLYuyEUU=s0-d-e1-ft#https://hostedimages-cdn.aweber-static.com/images/optimized/98ec870b5edd47de93d311911c162c48.jpeg" style="display:block;margin:auto;width:420px;height:279px;max-width:100%;border-width:0px;border-style:none;outline-width:medium;outline-style:none;text-decoration:none" alt="Image" width="420" height="279">
      </a>
    </td>
  </tr>
</tbody></table></span></div><div class="m_-2790619158515894342definition-parent">
<div class="m_-2790619158515894342paragraph" style="font-size:16px;color:rgb(255,255,255);line-height:1.6em"><div><div><br></div></div></div></div><div class="m_-2790619158515894342definition-parent">
<div class="m_-2790619158515894342headline" style="font-size:20px;color:rgb(255,255,255);font-weight:700;line-height:1.3em"><div><div style="line-height:2;text-align:center"><span style="color:#ffffff"><span style="font-size:36px"><span style="font-family:Open Sans,Helvetica,Arial,sans-serif">Thank you!</span></span></span></div>
</div></div></div></td></tr></tbody></table><table class="m_-2790619158515894342row" style="width:100%;border-spacing:0px;border-width:medium;border-style:none" role="presentation"><tbody><tr style="border-spacing:0px"><td class="m_-2790619158515894342container" style="padding:0px;width:4.8%;border-spacing:0px" width="4.8%" valign="top"></td><td class="m_-2790619158515894342container" style="padding:15px 0px 16px;width:91.1%;border-spacing:0px" width="91.1%" valign="top"><div class="m_-2790619158515894342definition-parent">
<div class="m_-2790619158515894342paragraph" style="font-size:16px;color:rgb(255,255,255);line-height:1.6em"><div><div style="line-height:1.5;text-align:center"><span style="font-size:20px"><span style="color:#ffffff"><span style="font-family:Open Sans,Helvetica,Arial,sans-serif"><strong style="font-weight:700">Your sponsorship puts {name} one step closer to their forever home. Now that you have invested in their future, you&nbsp;can&nbsp;follow their journey to finding a home.
Just click below and sign up to find out when your kitty-cat gets adopted.</strong></span></span></span></div>
</div></div></div><div class="m_-2790619158515894342definition-parent">
<div class="m_-2790619158515894342paragraph" style="font-size:16px;color:rgb(255,255,255);line-height:1.6em"><div><div><br></div></div></div></div></td><td class="m_-2790619158515894342container" style="padding:0px;width:4.3%;border-spacing:0px" width="4.3%" valign="top"></td></tr></tbody></table><table class="m_-2790619158515894342row" style="width:100%;border-spacing:0px;border-width:medium;border-style:none" role="presentation"><tbody><tr style="border-spacing:0px"><td class="m_-2790619158515894342container" style="padding:0px;width:33%;border-spacing:0px" width="33%" valign="top"><div class="m_-2790619158515894342definition-parent"><table class="m_-2790619158515894342aw-button" width="100%" style="border-spacing:0px;border-width:medium;border-style:none">
  <tbody><tr style="border-spacing:0px">
    <td style="padding:10px;border-spacing:0px">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing:0px;border-width:medium;border-style:none">
          <tbody><tr style="border-spacing:0px">
            <td style="border-spacing:0px">
                <table border="0" cellspacing="0" cellpadding="0" align="center" style="border-spacing:0px;border-width:medium;border-style:none">
                  <tbody><tr style="border-spacing:0px">
                    <td class="m_-2790619158515894342button" align="center" style="padding:10px 30px;background-color:rgb(255,255,255);border-radius:30px;border-spacing:0px" bgcolor="#FFFFFF">


                        <a href="#m_-2790619158515894342_" style="font-size:20px;font-family:Open Sans,Helvetica,Arial,sans-serif;color:#52bad1;text-decoration:none;text-decoration:none;border:1px solid #ffffff;border-radius:30px;display:inline-block;font-weight:600">
                          <span style="font-size:20px;font-family:Open Sans,Helvetica,Arial,sans-serif;color:#52bad1;font-weight:600!important">
                            Sign me up!
                          </span>
                        </a>


                    </td>
                  </tr>
                </tbody></table>
            </td>
          </tr>
        </tbody></table>
    </td>
  </tr>
</tbody></table></div><div class="m_-2790619158515894342definition-parent">
<div class="m_-2790619158515894342paragraph" style="font-size:16px;color:rgb(255,255,255);line-height:1.6em"><div><div><br></div></div></div></div></td></tr></tbody></table></div>
</div>
              </div>
            </td>
          </tr>
          <tr style="border-spacing:0px">
            <td bgcolor="#f8f8f8" class="m_-2790619158515894342footers" style="padding:40px;text-align:center;font-family:Helvetica,Arial,sans-serif;color:rgb(25,25,25);border-spacing:0px">
              <div class="m_-2790619158515894342region"><div><table class="m_-2790619158515894342row" style="width:100%;border-spacing:0px;border-width:medium;border-style:none" role="presentation"><tbody><tr style="border-spacing:0px"><td class="m_-2790619158515894342container" style="padding:0px;width:auto;border-spacing:0px" width="auto" valign="bottom"><div class="m_-2790619158515894342definition-parent">
  <div class="m_-2790619158515894342share" style="padding:10px">
    <div style="display:inline-block"><div><div><br></div></div></div>

      <a href="https://clicks.aweber.com/y/ct/?l=PCh0L&amp;m=3m8D9WGQe.F6eOd&amp;b=cKM48f0MIpoGHnU868M2fw" style="color:rgb(14,136,230)" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://clicks.aweber.com/y/ct/?l%3DPCh0L%26m%3D3m8D9WGQe.F6eOd%26b%3DcKM48f0MIpoGHnU868M2fw&amp;source=gmail&amp;ust=1566520446982000&amp;usg=AFQjCNEMp_bUcyJjRYSnLr70j0jqA0B3Sg"><img style="display:inline;background-color:rgb(59,89,152);border-radius:50%;height:60px;width:60px;max-width:100%;border-width:0px;border-style:none;outline-width:medium;outline-style:none;text-decoration:none" src="https://ci6.googleusercontent.com/proxy/H4zQNV0uuT_tKvEI4TCASKNDN-ShniydGtMLYEF0X5jaxPN4Rhocc40LSF0OxYS5mN1oqvVqQToK0IrtJJUBqPQGf7O8hi7pjsu98O3agWUE052reystAt30WAs=s0-d-e1-ft#https://cdn2.aweber-static.com/images/message-editor/-social-facebook.png" alt="Facebook" height="60" width="60" class="CToWUd"></a>


      <a href="https://clicks.aweber.com/y/ct/?l=PCh0L&amp;m=3m8D9WGQe.F6eOd&amp;b=MndQAr9D.rGzTRCNNL64sQ" style="color:rgb(14,136,230)" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://clicks.aweber.com/y/ct/?l%3DPCh0L%26m%3D3m8D9WGQe.F6eOd%26b%3DMndQAr9D.rGzTRCNNL64sQ&amp;source=gmail&amp;ust=1566520446982000&amp;usg=AFQjCNGM14CLWb2c9tIYMrq3fbI64pdRlA"><img style="display:inline;background-color:rgb(85,172,238);border-radius:50%;height:60px;width:60px;max-width:100%;border-width:0px;border-style:none;outline-width:medium;outline-style:none;text-decoration:none" src="https://ci3.googleusercontent.com/proxy/zDQqceql7DEvHFDCtNBaIzM-A5QY4F2HafacaqVeYhAFtEXBIdMpLN3aGy-WGcqUz0peDPZVXOrCWzsu7KRIQZJze-QKqaF4SNlSBWivyTJcRbPVh1bhOUW8AA=s0-d-e1-ft#https://cdn2.aweber-static.com/images/message-editor/-social-twitter.png" alt="Twitter" height="60" width="60" class="CToWUd"></a>


  </div>
</div></td></tr></tbody></table></div>
</div>
            </td>
          </tr>
        </tbody></table>
      </div>
    </td>
  </tr>

</tbody></table>
</body>
</html>